=render :partial => 'messages/sidebar_nav'

- if params[:mailbox] == "sent"
  = bootstrap_form_tag :url => delete_selected_user_messages_path(@user) do
    = render :partial => "sent"
- else
  = bootstrap_form_tag :url => delete_message_threads_user_messages_path(@user) do
    = render :partial => "inbox"