=render :partial => 'messages/sidebar_nav'

- if params[:mailbox] == "sent"
  = form_tag delete_selected_user_messages_path(@user), :class => "MainForm" do
    = render :partial => "sent"
- else
  = form_tag delete_message_threads_user_messages_path(@user), :class => "MainForm" do
    = render :partial => "inbox"