=render :partial => 'messages/sidebar_nav'

- form_tag delete_selected_user_messages_path(@user), :class => "MainForm" do
  - if params[:mailbox] == "sent"
    = render :partial => "sent"
  - else
    = render :partial => "inbox"