-@page_title=:showing_metro_area_details.l
-box do
  %dl.dl-horizontal
    %dt=:country.l
    %dd= h @metro_area.country.name
    %dt=:state.l
    %dd= @metro_area.state.name if @metro_area.state
    %dt=:name.l
    %dd= @metro_area.name
