-@page_title = :edit_forum.l

%p
  = link_to :back.l, forums_path, :class => 'btn btn-default'
  = link_to :show.l, forum_path(@forum), :class => 'btn btn-primary'
  = link_to :delete.l, forum_path(@forum), :method => 'delete', data: { confirm: :are_you_sure.l }, :class => 'btn btn-danger'

= render :partial => "form"

