.box
  %h3= 'New Forum'.l
  - form_for :forum, :url => forums_path, :html => {:class => "MainForm"} do |f|
    = render :partial => "form", :object => f
    %p= submit_tag 'Create'.l, :or => link_to('Cancel'.l, forums_path)

