-@page_title=:forgot_your_password.l 
-box do
  = form_tag password_reset_path, :method => :put, :class => "MainForm" do
    %label=:password.l
    = password_field_tag :password

    %label=:confirm_password.l
    = password_field_tag :password_confirmation
  
    %p= submit_tag :reset_my_password.l, :class => 'btn btn-primary'

