-@page_title=:forgot_your_password.l
=render :partial => 'shared/login_sidebar'

= form_tag password_resets_path, :class => 'form form-horizontal' do
  .form-group
    %label.control-label{"for"=>"email"}=:enter_your_email_address.l
    = text_field_tag 'email', nil, :class => 'required'
  = submit_tag :reset_my_password.l, :class => 'btn btn-primary'
