.clear
%br
.padded
  %h2 Popular Polls
  %ul
    -polls.each do |poll|
      %li
        =link_to "#{truncate(poll.question, 75)} <small class='quiet'>(#{pluralize poll.votes.count, 'votes'})</small>", user_post_path(poll.post.user, poll.post)
