-@page_title= :new_clipping.l
-widget do 
  %h3= :help.l
  %p= :clippings_are_a_way_to_save_images_you_like_from_around_the_web.l

%p
  =link_to :back.l, user_clippings_path(@user), :class => 'btn'

-if @clipping.image_uri
  =image_tag @clipping.image_uri(:large), :class => 'thumbnail'

=render 'form'