Redirect permanent /install_template.rb http://github.com/bborn/communityengine/raw/master/community_engine_setup_template.rb
Redirect permanent /edge_install_template.rb http://github.com/bborn/communityengine/raw/edge/community_engine_setup_template.rb
