.favorites.box
  %h3= link_to "#{@user.login}'s favorites", user_favorites_path(@user)        

  - @favorites.in_groups_of(2) do |group|
    .row  
      - group.compact.each do |f|
        =render :partial => "favorite", :locals => {:favorite => f}

.pagination=pagination_links