-@page_title = "#{@user.login}'s "+:favorites.l

%ul.list-unstyled.thumbnails
  - @favorites.each do |f|
    %li.col-sm-4
      =render :partial => "favorite", :locals => {:favorite => f}

=paginate @favorites, :theme => 'bootstrap'     
