-@page_title = "#{@user.login}'s "+:favorites.l

%ul.thumbnails
  - @favorites.each do |f|
    %li.span4
      =render :partial => "favorite", :locals => {:favorite => f}

=paginate @favorites, :theme => 'bootstrap'     
