<%= @message %>

--------------

Hi!

<%= @user.login %> has just invited you to join <%= AppConfig.community_name %>. <%= AppConfig.community_description %>

Visit this link to sign up:

<%= @url %>

Thanks,
The <%= AppConfig.community_name %> team