.yui-b
  -box do 
    %h3=:about_site.l :site => AppConfig.community_name
    %ul.list.checks
      %li
        %a{:href=>"/faq"}= :frequently_asked_questions.l
      %li 
        %a{:href=>"/about"}=:about_site.l(:site => AppConfig.community_name)
      %li 
        %a{:href=>"/advertise"} 
          =:advertise.l
  -box :class => "alt" do 
    %h3=:need_to_contact_us.l
    %p
      =:dont_wait_its.l
      %a{:href=>"mailto:#{AppConfig.support_email}"}= AppConfig.support_email
