#welcome
  .yui-gc
    .yui-u.first
      .box
        %h2
          =:get_started_banner.l_with_args :site=>AppConfig.community_name
        %p
          ="CommunityEngine is the best way to go from zero to hero in no time".l
        %h4
          %a{:href=>"http://www.missingmethod.com/projects/community_engine"}
            ="Download it now and get started".l
    .yui-u
      .box
        %h2
          ="See how it works".l 
        %p
          ="Create Your Account".l
        %h4 
          =link_to "Sign Up!".l, signup_path