#welcome
  .yui-gc
    .yui-u.first
      .box
        %h2 
          Get started with
          %a{:href=>"/"}= AppConfig.community_name
          today!
        %p
          CommunityEngine is the best way to go from zero to hero in no time.
        %h4
          %a{:href=>"http://www.missingmethod.com/projects/community_engine"} Download it now and get started
    .yui-u
      .box
        %h2 
          See how it works
        %p Create your account.
        %h4 
          =link_to "Sign up", signup_path