<div class="banner_message">
	<div class="yui-gc">
		<div class="yui-u first">
			<h1>This is a phrase that explains the community.</h1>
			<h2 class="gray">A more descriptive phrase that explains what's going on here.
			<%= link_to "&raquo; Learn more", {:controller => "base", :action => "about"} %>
			</h2>
		</div>
		<div class="centered yui-u">
			<%= link_to image_tag('signup.png', :plugin => "community_engine"), 'signup' %><br />
		</div>
	</div>
</div>
