#welcome
  .yui-gc
    .yui-u.first
      .box
        %h2=:get_started_banner.l_with_args :site=>AppConfig.community_name
        %p=:get_started_text_1.l
        %h4
          %a{:href=>"http://www.missingmethod.com/projects/community_engine"}=:get_started_text_2.l
    .yui-u
      .box
        %h2=:see_how_it_works.l 
        %p=:create_your_account.l
        %h4 
          =link_to :sign_up.l, signup_path