#welcome
  .yui-gc
    .yui-u.first
      .box
        %h2
          =:get_started_banner.l :site=>AppConfig.community_name
        %p
          =:homepage_banner_msg.l
        %h4
          %a{:href=>"http://www.missingmethod.com/projects/community_engine"}
            =:homepage_banner_download_msg.l
    .yui-u
      .box
        %h2
          =:homepage_banner_signup_prompt.l
        %p
          =:create_your_account.l
        %h4 
          =link_to :sign_up.l, signup_path