<%= render :partial => 'about_nav' %>

<div id="yui-main">
	<div class="yui-b col_723">
		<% rounded(:class => 'marketing') do %>
			<h2 class="impact">Advertise on <%= AppConfig.community_name %></h2>
			
			<p>
        
			</p>
			
		<% end %>
	</div>
</div>