#welcome
  .box
    %h2 
      Welcome to 
      =AppConfig.community_name
    %p
      This is a place where my friends gather to get inspired, share ideas plans, and discuss their favorite topics.
    %p
      Want to learn more? 
      ="Check out our #{link_to 'about page', about_path}, or read our #{link_to 'FAQs', faq_path}."