<div class="banner_message">
	<div class="yui-gc">
		<div class="yui-u first">
			<h1><%= @active_contest.banner_title %></h1>
			<h2 class="gray"><%= @active_contest.banner_subtitle %>
			<%= link_to '&raquo; Find out more.', contest_path(@active_contest) %>
			</h2>
		</div>
		<div class="centered yui-u">
			<%= link_to image_tag('contest_enter.png', {:plugin => "community_engine", :style => 'margin-top:0.5em'}), contest_path(@active_contest) %>
		</div>
	</div>
</div>
<br />