.yui-b


#yui-main
  .yui-b
    .box
      %h3= :contests.l
      - @contests.each do |contest|
        %h2
          =link_to contest.title, contest
          %small  
            %em=contest.time_and_date
