.box
  %h3= 'Edit Topic'.l

= error_messages_for :topic
- form_for :topic,:url  => forum_topic_path(@forum, @topic), :html => { :method => :put, :class => "MainForm" } do |f|
  = render :partial => "form", :object => f 
  %p= submit_tag 'Save Changes'.l, :or => link_to('Cancel'.l, forum_topic_path(@forum, @topic))