%p
  = link_to :back.l, homepage_features_path, :class => 'btn btn-default'
  = link_to :show.l, homepage_feature_path(@homepage_feature), :class => 'btn btn-primary'
  = link_to :delete.l, homepage_feature_path(@homepage_feature), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger'

= render 'form'
