<div id='ce_nav'>
  <ul>
    <li><a href="index.html" target="_top">Home</a></li>
    <li><a href="features.html" target="_top">Features</a></li>    
    <li><a href="https://github.com/bborn/communityengine/blob/master/README.markdown" target="_blank">Documentation</a></li>
    <li><a href="http://github.com/bborn/communityengine/issues" target="_blank">Bug Tracker</a></li>
    <li><a href="http://groups.google.com/group/communityengine/" target="_blank">Google Group</a></li>

  </ul>
  <div style="clear:both"></div>
</div>    
