<div id='ce_nav'>
  <ul>
    <li><a href="index.html" target="_top">Home</a></li>
    <li><a href="features.html" target="_top">Features</a></li>    
    <li><a href="plugins.html" target="_top">Plugins</a></li>          
    <li><a href="documentation.html" target="_top">Documentation</a></li>
    <li><a href="bugs.html" target="_top">Bug Tracker</a></li>
    <li><a href="http://groups.google.com/group/communityengine/" target="_blank">Google Group</a></li>

  </ul>
  <div style="clear:both"></div>
</div>    
