=:user_notifier_comment_notice.l_with_args(:user => @user.login, :commentator => @comment.username, :url => @url, :community => AppConfig.community_name)
 
=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)﻿
