=:user_notifier_follow_up_comment_notice_anonymous.l_with_args(:commentator => @comment.username, :commentable => @comment.commentable_type, :url => @url, :community => AppConfig.community_name, :support => AppConfig.support_email)﻿
