Hey!

<%= @comment.username %> has added a comment to a <%= @comment.commentable_type %> 
that you commented on. Use this link to check it out:

<%= @url %> 

Thanks,
The <%= AppConfig.community_name %> team

---------------------------------------------------------------------------------
If you believe you received this notice in error, please contact support at
<%= AppConfig.support_email %>