=:user_notifier_forgot_username.l_with_args(:community => AppConfig.community_name, :user => @user.login, :support => AppConfig.support_email)

=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)
