=:user_notifier_friendship_request.l_with_args(:user => @user.login, :friendship_requester => @requester.login, :url => @url, :community => AppConfig.community_name)

=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)

