Hey <%= @message.recipient.login %>!

<%= @message.sender.login %> has sent you a private message on <%= AppConfig.community_name %>. Use this link to read it:

<%= user_message_url(@message.recipient, @message) %> 

Thanks,
The <%= AppConfig.community_name %> team