=:user_notifier_new_forum_post_notice.l_with_args(:user => @user.login, :author => @author.login, :url => @url, :community => AppConfig.community_name, :edit_account_url=> edit_account_user_url(@user))

=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)

=:user_notifier_change_email_preferences.l_with_args(:community_name => AppConfig.community_name, :change_account_here => edit_account_user_url(@user))




