=:user_notifier_reset_password.l_with_args(:community => AppConfig.community_name, :new_password => @user.password, :support => AppConfig.support_email) 

=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)

