=:user_notifier_signup_invitation.l_with_args(:message =>  @message, :user => @user.login, :email => @user.email, :community => AppConfig.community_name, :community_description => AppConfig.community_description, :url => @url)

=:user_notifier_thanks.l_with_args(:community => AppConfig.community_name)

