.yui-b
  -box do 
    %h3=:dashboard.l
    .yui-g
      .yui-u.first
        = image_tag 'icons/accept.png', :plugin => 'community_engine'
        =:view.l
        %ul
          %li=link_to :my_profile.l, user_path(@user)  
          %li=link_to :my_blog.l, user_posts_path(@user)
          %li=link_to :photo_manager.l, user_photo_manager_index_path(@user)
          %li=link_to :my_clippings.l, user_clippings_path(@user)
          %li=link_to :my_friends.l, accepted_user_friendships_path(@user)
          %li=link_to :inbox.l, user_messages_path(@user)
      .yui-u
        = image_tag 'icons/wrench.png', :plugin => 'community_engine'
        =:manage.l
        %ul
          %li=link_to :my_profile.l, edit_user_path(@user)
          %li=link_to :my_account.l, edit_account_user_path(@user)
          %li=link_to :my_blog_posts.l, manage_user_posts_path(@user)
          -if current_user.admin?
            %li=link_to :admin_dashboard.l, admin_dashboard_path
  -box :class => "alt" do 
    %h3=:stats.l
    %ul
      - if @user.last_login_at
        %li=:you_last_logged_in_on.l+" #{I18n.l(@user.last_login_at, :format => :published_date)}"
      %li=:member_since.l+" #{I18n.l(@user.created_at, :format => :published_date)}"
      -unless @user.posts.empty?
        %li=:you_have_written_blog_posts.l(:count => @user.posts.count)
      -unless @user.photos.empty?
        %li=:you_have_uploaded_photos.l(:count => @user.photos.count)
      -unless @user.clippings.empty?
        %li=:you_have_added_clippings.l(:count => @user.clippings.count)
      -unless @user.comments.empty?
        %li=:you_have_left_comments.l(:count => @user.posts.count)
      -unless @user.accepted_friendships.empty?
        %li=:you_have_friends.l(:count => @user.accepted_friendships.count)

