- if current_page?(users_path) || (params[:controller] == 'users' && !@user.nil? && @user != current_user)
  - css_class = 'active'
- else
  - css_class = 'inactive'

%li{:class => css_class}= link_to :people.l, users_path