  
-box :class => 'alt' do
  %h3= :metro_areas.l
  - city_cloud @metro_areas_for_cloud, %w(nube1 nube2 nube3 nube4 nube5) do |city, css_class|
    = link_to city.name, users_path(:metro_area_id => city.id), :class => css_class

- if current_user
  -box :class => "alt" do 
    %h3= :share_the_love.l
    = link_to :invite_your_friends_to_join.l, invite_user_path(current_user)