-@page_title=:forgot_your_username.l
=render :partial => 'shared/login_sidebar'

= form_tag forgot_username_path, :class => 'form form-horizontal' do
  .form-group
    %label.control-label{"for"=>"email"}=:enter_your_email_address.l+":"
    = text_field_tag 'email', nil
  = submit_tag :send_me_my_username.l, :class => 'btn btn-primary'
