- @section = (params[:metro_area_id] ? 'metro_area' : 'users')

.yui-b
  = render :partial => 'users/search_options'

#yui-main
  .yui-b
    -box :class => "user_list" do
      %h3=:site_members.l :site => configatron.community_name

      .pagination= paginating_links @users, :params => params if @users.page_count > 1
  
      %br.clear
  
      = render :partial => "users/user", :collection => @users
      
      %br.clear
      .pagination= paginating_links @users, :params => params if @users.page_count > 1
