-@page_title=:resend_your_activation_e_mail.l
=render :partial => 'shared/login_sidebar'

= form_tag resend_activation_url, :class => 'form form-horizontal' do
  .form-group
    %label.control-label{"for"=>"email"}=:enter_your_email_address.l
    .controls= text_field_tag 'email', nil
  .controls
    = submit_tag :resend_my_activation_e_mail.l, :class => 'btn btn-primary'
