-@page_title=:resend_your_activation_e_mail.l
=render :partial => 'shared/login_sidebar'

-box do 

  = form_tag resend_activation_url, :class => 'MainForm' do
    %label{"for"=>"email"}=:enter_your_email_address.l
    = text_field_tag 'email', nil, :size => 35
    %p
      = submit_tag :resend_my_activation_e_mail.l