.box.alt.first_alt
  %h3= link_to :find_an_expert.l, skills_path
  = :get_help_from_someone_who_knows.l  

  %ul.list.checks
    - Skill.find(:all, :order => "name").each do |skill|
      %li= link_to skill.name, skill_path(skill)