= button_to :request_friendship.l, hash_for_user_friendships_url(:user_id => current_user.id, :friend_id => user.id), :class => "btn btn-primary act-via-ajax", :id => "friend_request_#{user.id}"
= ajax_spinner_for "friend_request_#{user.id}"