= javascript_include_tag 'community_engine'
= tiny_mce_init_if_needed

-if show_footer_content?
  :javascript
    $(function() {
      $('#footer-content').updateFromUrl("#{footer_content_path}")
    });
