-box do
  %h3 Explore
  %ul.list.checks
    - Category.find(:all).each do |c|
      %li= link_to c.name, category_path(c)
    %li= link_to :whats_popular.l, popular_url, {:class => 'popular'}
    - Page.find(:all).each do |page|
      - if (logged_in? || page.page_public)
        %li= link_to page.title, pages_path(page)