.span9
  %h3=:whats_fresh.l
  - @recent_activity.each do |activity|
    =render :partial => "activities/activity", :locals => {:activity => activity }
  =icon_link_to 'icon-plus-sign', :see_all_activity.l, activities_path

.span3
  %h3=:tags.l
  - tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, tag_path(tag.to_param), :class => css_class
  =icon_link_to 'icon-plus-sign', :all_tags.l, tags_path
