.yui-u.first
  -box :class => "fresh" do 
    %h3=:whats_fresh.l
    - @recent_activity.each do |activity|
      =render :partial => "activities/activity", :locals => {:activity => activity }
    %h6.all= link_to :see_all_activity.l, activities_path

.yui-u
  -box do 
    %h3=:tags.l
    - tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
      = link_to tag.name, tag_path(tag.to_param), :class => css_class
    %h6.all=link_to :all_tags.l, tags_path
