.box
  %h3 Help
  %p
    Don't have an account?
    %br/
    = link_to "&raquo; Click here to sign up", "/signup"
  %p
    Forgot your password?
    %br/
    = link_to "&raquo; Click here to retrieve it", forgot_password_url
  %p
    Forgot your username?
    %br/
    = link_to "&raquo; Click here to retrieve it", forgot_username_url