-widget do
  %h4
    .small=:help.l
  %p
    =:dont_have_an_account.l
    %br
    = link_to :click_here_to_sign_up.l, signup_path
  %p
    =:forgot_your_password.l
    %br
    = link_to :click_here_to_retrieve_it.l, forgot_password_url
  %p
    =:forgot_your_username.l
    %br
    = link_to :click_here_to_retrieve_it.l, forgot_username_url
