-widget do
  %ul.nav.nav-list
    %li.nav-header=:help.l
    %li=:dont_have_an_account.l
    %li= link_to :click_here_to_sign_up.l, "/signup"
    %li=:forgot_your_password.l
    %li= link_to :click_here_to_retrieve_it.l, forgot_password_url
    %li=:forgot_your_username.l
    %li= link_to :click_here_to_retrieve_it.l, forgot_username_url