-box do
  %h3=:help.l
  %p
    =:dont_have_an_account.l
    %br/
    = link_to :click_here_to_sign_up.l, "/signup"
  %p
    =:forgot_your_password.l
    %br/
    = link_to :click_here_to_retrieve_it.l, forgot_password_url
  %p
    =:forgot_your_username.l
    %br/
    = link_to :click_here_to_retrieve_it.l, forgot_username_url