.box
  %h3="Help".l
  %p
    ="Don't have an account?".l
    %br/
    = link_to "&raquo; " + "Click here to sign up".l, "/signup"
  %p
    ="Forgot your password?".l
    %br/
    = link_to "&raquo; " + "Click here to retrieve it".l, forgot_password_url
  %p
    ="Forgot your username?".l
    %br/
    = link_to "&raquo; " + "Click here to retrieve it".l, forgot_username_url