-[:notice, :error, :alert].each do |level|
  -unless flash[level].blank?
    -class = flash_class(level)
    %div{:class => 'alert ' + class}
      %button.close{:type => 'button', 'data-dismiss' => 'alert', 'aria-hidden' => 'true'}
        \x
      =content_tag :p, flash[level]
