<% rounded(:class => 'user' ) do %>
	<h2 class="super"><%= link_to "Find an expert", skills_path %></h2>
	Get help from someone who knows.
	<ul>
	<% Skill.find(:all, :order => "name").each do |skill| %>
		<li><%= link_to skill.name, skill_path(skill) %></li>
	<% end %>
	</ul>
<% end %>
		
