- @section = 'events'

.yui-b
  -box :class => "alt first_alt" do 
    - if @is_admin_user
      = link_to :new_event.l, new_event_path
    = link_to :see_all_events.l, events_path

#yui-main
  -box :class => "yui-b" do
    = render :partial=>'event', :locals=>{:event=>@event, :show_details_link=>false}
    = @event.description
