.yui-b= render :partial => 'users/profile_user_info_sidebar'

#yui-main
  .yui-b
    -box :id => "friends" do
      %h3
        =:accepted_friendships.l(:count => @friend_count)
        = link_to "(#{@pending_friendships_count} "+:pending.l+")", pending_user_friendships_path(@user) if  (@pending_friendships_count > 0)
      .pagination=paginating_links @friendships if @friendships.total_count > 1
      
      .clear
      .user_list= render :partial => "friendships/friendship", :collection => @friendships

