<h1><%= :editing_invitation.l %></h1>

<% form_for(:invitation, :url => user_invitation_path(@invitation), :html => { :method => :put }) do |f| %>
  <p>
    <%= submit_tag :update.l %>
  </p>
<% end %>

<%= link_to :show.l, user_invitation_path(@invitation) %> |
<%= link_to :back.l, user_invitations_path %>