-@page_title = :listing_invitations.l

%ul
  -for invitation in @invitations
    %li
      = invitation.email_addresses

= link_to fa_icon('plus-circle', :text => :new_invitation.l), new_user_invitation_path