<h1><%= :new_invitation_from.l + " " + @user.login %></h1>

<%= error_messages_for :invitation %>

<% form_for(:invitation, :url => user_invitations_path) do |f| %>
<p><label for="email_addresses"><%= :email_addresses.l %></label><br/>
<%= f.text_area :email_addresses %></p>
<p><label for="message"><%= :message.l %></label><br/>
<%= f.text_area :message %></p>
  <p>
    <%= submit_tag :create.l %>
  </p>
<% end %>

<%= link_to :back.l, user_path(@user) %>