%label{:for => 'poll_question'} 
  =:question.l
  %br
  =text_field_tag 'poll[question]', poll.question, :class => 'text'

%br
%label
  =:choices.l
  %ol#options
    -poll.choices.each do |choice|
      %li= text_field_tag "choices[]", choice.description, :class => 'text'
  
%br
%br
%hr