.poll_excerpt
  = image_tag 'icons/poll.png', :plugin => 'community_engine'
  = poll.question
  = link_to :vote_now.l, new_vote_path(:post_id => poll.post.id), {:title => 'Log in to vote', :class => 'vote'}
