-@page_title=:editing_tag.l
= render :partial => 'shared/admin_nav'

%p
  =link_to :back.l, admin_tags_path, :class => 'btn btn-default'
  =link_to :show.l, tag_path(@tag), :class => 'btn btn-primary'
  =link_to :delete.l, tag_path(@tag), :method => 'delete', data: { confirm: :are_you_sure.l }, :class => 'btn btn-danger'

= bootstrap_form_for :tag, :url => tag_path(@tag), :layout => :horizontal, :html => {:method => 'put'} do |f|
  = f.text_field :name
  = f.primary :update.l
