-@page_title=:editing_tag.l
= render :partial => 'shared/admin_nav'

-box do
  = form_for(:tag, :url => tag_path(@tag), :html => { :method => :put, :class => "MainForm" }) do |f|

    %label
      =:name.l
      \:
    = f.text_field :name

    %p
      = submit_tag :update.l, :class => 'btn btn-primary'
