/*
#content
{
	margin:1em 0;
	width:70%;
	background:white;
	padding:25px;
	border:5px solid #bbb;
	border-width:0 5px 5px 0;
	float:left;
	min-width:425px;
	min-height:165px;
}

#right
{
	margin-top:1em;
	float:left;
	width:19%;
	font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
	margin-left:1.25em;
	margin-left:3%;
	margin-right:0;
}

#right p
{
	font-size:0.75em;
}
#right a.hidden { color:black; text-decoration:none; border-bottom:1px solid #999; }
#right a.hidden:hover { color:blue; text-decoration:none; border-bottom:1px solid #963; }

#right p.help
{
	font-weight:normal;
	font-size:0.75em;
}*/

/*#footer
{
	margin:0 auto;
	margin-bottom:1em;
	font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	color:#333;
	
	margin-left:3%;
	width:67%;
	min-width:545px;
	padding:0px 15px;
	margin-bottom:3.5em;
}
*/

#content form {margin-bottom:0;}

#content p.subtle { 
	margin:0 0 0.5em; 
	float:right;
	}
#content .subtle a
{
	color:#999;
	font-size:0.7em;
}

/*#header
{
	background:#111;
	padding:10px 4%;
	border-bottom:3px solid #999;
}
*/
#search_box {
  font-size:0.85em;
}

img { border-width:0; }

p.pages
{
	clear:both;
	font-size:0.85em;
	margin: 2.2em 2em 0 0;
}

span.pipe
{
	color:#999;
	margin:0 0.15em;
}

div.news
{
	background:#cfc;
	text-align:center;
	margin:0 auto;
	width:40em;
	margin-top:1em;
	padding:7px 15px;
	font-size:0.7em;
	font-weight:bold;
}
div.news p { margin:0; }

p.notice,
p.sections
{
	background:#df9;
	padding:7px 15px;
	border:1px solid #bd7;
	margin-top:0;
	font-size:0.8em;
}

p.error
{
  background:#c00;
  color:white;
}



p.sections a.action { color:#c00; }

.hasfile
{
	color:#090;
	font-weight:bold;
	margin-left:10em;
}

h1,h2,h3,h4,h5,h6
{
font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;	
}

h1 {	
	font-size:1.3em; 
}

h1 img { vertical-align:middle; }

p.subtitle
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	color:#888;
	font-weight:bold;
	margin-top:-0.8em;
}
p.subtitle img { vertical-align: bottom; }

h1 span { font-size:0.7em; color:#999; font-weight:normal; padding-left: 1em;}

h2 {
	font-size:1.0em; }

h2 span
{
	color:#999;
	font-size:0.7em;
	margin-left:1em;
}

h3 
{
  padding:2px 10px 3px;
  background:#333;
  color:white;
	font-size:0.70em;
  border-bottom:1px solid #999;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}

h6 { margin-bottom:0; }

pre.explain
{
	background:#e7e7e7;
	padding:7px 15px;
	border:1px solid #ccc;
	margin:0 2em;
}

hr
{
	height:0;
	border:0;
	border-bottom:1px solid #ccc;
	margin:1em 0;
}

#right hr { border-color:#bbb; }

#monitor_topic { 
  font-size: 12px; 
}
#monitor_topic .icon { 
  background-image:none; 
}

/* footer */

/*#footer p
{margin:0}
#footer p.credit
{
	float:right;
	text-align:right;
}
#footer p.credit a.subtle
{
	color:#333;
}
#footer p.legal
{
	float:left;
	margin-right:1.5em;
}

#footer p.disclaim
{
	float:left;
	color:#080;
}*/

ul.quotes, ul.flat {
	margin-left:0;
	padding-left:0;
	font-size:0.75em;
	list-style-type:none;
	}
ul.talking li span {
	color:#666;
	font-size:0.8em;
	}

ul.flat li {
	display:block;
	float: left;
	background:url(/plugin_assets/community_engine/images/small_circle.gif) no-repeat 5px 6px;
	padding-left:15px;
	}
ul.ways li span
{
	color:#666;
	font-size:0.9em;
}

ul.quotes
{
	font-size:0.8em;
}
ul.quotes li {margin-bottom:1em; }
ul.quotes span
{
	color:#666;
	font-size:0.9em;
}


ul.why
{
	font-family:'Lucida Grande', Arial, Helvetica, sans-serif;
	font-size:1em;
	line-height:1.25em;
	margin-top:2em;
}
ul.why li p
{
	margin-top:0.5em;
	color:#666;
	font-size:0.9em;
}
ul.why li p strong { color:#c00; }

a.utility
{
	font-weight:normal;
	color:#c00;
	font-size:0.8em;
}
a.remove { color:#c00; }
a.utility:hover
{
	color:#c00;
	text-decoration:underline;
}
a.subtle { color:#369; }
a.subtle:hover { color:blue; }

div.asset
{
	background:#e7e7e7;
	padding:7px 15px;
	border-bottom:1px solid #ccc;
	font-family:'Lucida Grande',Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	margin-bottom:1em;
	text-align:center;
}

input.primary
{
  font-size:1.2em;

}

input.submit
{
	margin-right:1em;
	float:right;
}

/* layout of paste */

.pastebox
{
	width:100%;
}

p.private,
#content .legend
{
	margin-top:0;
	color:#999;
	font-size:0.8em;
}
#content .legend span strong { color: black; }
#content .legend span
{
	margin-right:5em;
}

p.private img { vertical-align:bottom;}
p.private
{
  xcolor:white;
  color:#c00;
  font-weight:bold;
}
p.psmall { 
  font-size:0.7em; 
  font-weight:normal; 
}

div.upload
{
	margin-top:-0.5em;
	xbackground:#e7e7e7;
	padding:7px 0;
	float:left;
	xwidth:63%;
	margin-left:0.5em;
}
div.upload p label { font-size:0.7em; font-weight:bold;}
div.upload p {margin:0}
div.upload input { margin-left:0.75em;}
div.upload a
{
	color:#666;
	font-size:0.8em;
}

.pastePreview pre { font-size:0.9em; }

.pastePreview p
{
	color:#777;
	font-size:0.7em;
	margin:0 0 0.5em;
}

.pastePreview .when {	float:right; }
.pastePreview .when strong {	color:black; }

p
{
	font-family:'Lucida Grande', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}


#news
{
	background:#248;
	background:#475f30;
	border:2px solid #778f60;
	border-width:2px 0;
	padding:5px 4%;
	color:#ffc;
	font-size:0.70em;
	text-align:center;

	position:fixed;
	bottom:0;
	width:100%;
	padding:6px 0 7px;
	z-index:50;
}
#news a.subtle { 	color:#ffc; font-weight:normal;}
#news a {color:gold; font-weight:bold}
#news p {margin:0;}


/*#header img
{
	vertical-align:bottom;
	margin-right:0.25em;
}

#header h1,
#header h1 a
{
	font-weight:normal;
	margin:0;
	color:#cf4;
	border:0;
	text-decoration:none;
}

#header h1 .count
{
	color:#ddd;
	font-size:0.6em;
	font-weight:normal;
	padding-left:1em;
}

#header ul#nav
{
	float:right;
	list-style-type:none;
	margin:0;
	margin-top:0.4em;
}

#header ul#nav li
{
	color:gold;
	font-family:'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
	font-size:0.7em;
	float:left;
	margin-left:2em;
}

#header ul#nav li a
{
	display:block;
	float:left;
	xcolor:#a86;
	color:#9c6;
	xpadding:3px 1em;
}

#header ul#nav li.login a {
	color:gold;
	text-decoration: none;
}

#header ul#nav li.active a
{
	font-weight:bold;
	xbackground:#222;
	color:#ca8;
}

#header ul#nav li.hot a
{
	color:orange;
}
#header ul#nav li.logout a
{
	color:#666;
}*/

.line_numbers,
.lineNumbers
{
	color:#999;
	padding-right:0.5em;
	text-align:right;
}
.line_numbers strong { color:#555; }

td.code,
.thePaste
{
	padding-left:0.75em;
}


label
{
	font-family:'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.75em;
	font-weight:normal;
}

/* random */

.photo
{
	background:#aaa url(/plugin_assets/community_engine/images/clearbits/smile.gif) no-repeat 8px 8px;
}

.smallutils
{
	xfloat:right;
	margin-top:-0.5em;
	margin-bottom:0em;
	text-align:right;
}
.smallutils a
{
	color:#666;
	font-size:0.7em;
}
.smallutils a:hover {color:#369;}


/* tables */

table.noborder td
{
  border:0;
}

table.nopad td
{
  padding-left:0;
}

table.wide {	
	width:97%; 
	}
table.wide tr th
{
	background:#333;
	color:white;
	font-size:0.8em;
	padding:3px 10px;
	border:1px solid #222;
}
table.wide tr td
{
	padding:7px;
	border:1px solid #ddd;
}

/* topics */

#forum_description,
#topic_body
{
  width:99%;
}

/* specific table styles */

table.forums,
table.topics
 { font-size:0.8em; }
table.forums tr th { font-size:0.8em; }
table.forums tr td .title {
	font-size:1.4em; 
	}

table.forums tr td .desc {
margin:0.5em 0;	
}
table.forums tr td
{
	padding:4px 15px;
}
table.forums a.tiny
{
	font-size:0.8em;
	color:#666;
}

table.forums .posts
{
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	font-size:0.8em;
}

table tr th.la { 	text-align:left; }
table tr td.ca { 	text-align:center; }
table tr td.inv { background:#eee; }
table tr td.vat { vertical-align:top; }

table tr td.narrow { padding:2px 5px;}

/* users */

a.admin
{
	color:#c00;
	font-weight:bold;
}

/* last post */
table tr td.lp {
	font-size:0.85em;
	color:#333; }
table tr td.lp span { color:#666; }
table tr td.lp span a { color:#369; }

table.topics tr td.c1
 {	border-right:0; padding-right:2px; }
 table.topics tr td.c2
  {	border-left:0; padding-left:2px; }


table.topics tr td.c3 { border-left:0; }

table.forums tr td.c1 {	border-right:0; padding-right:5px; padding-top:7px; }
table.forums tr td.c2 {	border-width:1px 0; padding-left:5px; }
table.forums tr td.c3 {	border-left:0; padding-left:5px; }


table.topics tr td.c2 small a { color:#666; }
table.topics tr td.stat { font-size:0.9em; }

/* misc */

.button_or
{
  color:#666;
  padding-left:0.5em;
  font-size:0.75em;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.button_or a { color:#c00; }

form.dialog
{
	margin-top:3em;
	background:#eee;
	width:300px;
	padding:15px;
}

form .entryhelp
{
  font-size:0.7em;
}

form .help
{
	font-size:0.8em;
}

span.arrow
{
	font-weight:normal;
	font-size:0.9em;
	color:#999;
}

div.stats
{
	margin-top:2em;
	background:#ded;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	padding:15px 15px;
	border:2px solid #393;
	border-width:1px 0;
	width: 94%;
}
div.stats .posts { float:right; text-align:right; }

/* breadcrumbs */

.crumbs
{
	width: 97%;
	font-size:0.75em;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
.crumbs a { color:#468; }
.crumbs a:hover { color:#00c; text-decoration:underline; }

/* posts */

table.posts
{
	border-bottom:2px solid #eee;
}

table.posts tr td
{
	border:0;
}
table.posts tr.spacer td
{
	font-size:1px;
}

/* fade edit links */
.post .author .edit a
{
  font-size:0.7em;
  color:#666;
}

.post .author img {
	float:left; 
	margin-right:0.5em;
	}
.post .author
{
	border-top:2px solid #eee;
	padding:5px 10px;
	background:#eee;
	font-weight:bold;
	color:#333;
	font-size:0.9em;
	min-height:32px;
	width:10em;
	min-width:8em;
	vertical-align:top;
}

.post .author .posts
{
	display:block;
	font-size:0.75em;
	color:black;
	color:#666;
}
.post .author a
{
	color:#333;
	text-decoration:none;
}
.post .author a.admin
{
	color:#080;
}
.post .author a:hover
{
	color:#369;
	text-decoration:underline;
}

.post .date
{
	font-size:0.75em;
	color:#666;
	font-weight:normal;
	margin-bottom:0.5em;
}

.posts .post .body
{
	border-top:2px solid #eee;
	font-size:0.9em;
	padding:10px 20px;
}

.posts .post .body blockquote
{
	border:1px solid #cda;
	border-left:3px solid #9a7;
	border-right:0;
	background:#efc;
	padding:1px 10px;
	margin-left:0;
}

.posts .post .body pre
{
	font-size:0.8em;
	background:#eee;
	padding:5px 10px;
	border:1px solid #ccc;
	border-left:3px solid #ddd;
	border-right:0;
	overflow:auto;
	font-family: "Monaco", "Bitstream Vera Sans Mono", "Courier New", serif;
}

.posts .post .body a:hover { color:brown; }

.posts .post .body blockquote p
{
	margin:0.5em 0;	
}

.post .body p.topic
{
  font-size:0.8em;
  font-weight:bold;
  background:#eee;
  padding:2px 10px;
}

/* editing posts */

/*
table.posts .editing td {
}
table.posts .editing td.author { 
  background:#030; 
  }
  
table.posts .editing td.author * { color:#ccc; }
table.posts .editing td.body { }
*/

/* other stuff */

p.online {margin-bottom:0;}

img.icon
{
	background:#696;
	background-image: url(/plugin_assets/community_engine/images/clearbits/bg_rounded.gif);
	background-repeat: no-repeat;
	vertical-align: bottom;
}
img.reply { float:right; }
img.orange { background-color:darkorange; }
img.grey { background-color:#ccc; }
img.darkgrey { background-color:#999; }
img.green { background-color:#0c0;}

.post .author .icon
{
	float:right;
}

/* reply */

div.editbox
{
	background:url(/plugin_assets/community_engine/images/reply_background.png);
	border:2px solid #333;
	border-width:2px 0;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:6px 0 7px;
	z-index:50;
}

div.editbox .container
{
	width:92%;
}

div.editbox p { margin:0.5em 0;}
div.editbox textarea
{
  width: 99%;
	background:white;
	opacity:1;
	font-size:0.8em;
	font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
	height: 150px;
}
div.editbox .button_or a
{
  color:#ccc;
}
div.editbox table td { border:0; }
div.editbox a.utility
{
  color: #f99;
  font-size: 0.65em;
  padding: 2px 5px 4px;
  display: block;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
  float: right;
  text-align: right;
  margin-top: 0.2em;
}

div.editbox h5
{
  background:#222;
  color:white;
  padding:2px 10px 3px;
  font-size:0.7em;
  margin:0.2em 0 0.5em;
}

div.editbox p.help span,
div.editbox ul.help span { color:#666; }
div.editbox p.help,
div.editbox ul.help
{
  padding:3px 10px;
  font-size:0.75em;
  color:#ccc;
  font-family: 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif;
}
div.editbox ul.help { margin:0; }

div.editbox ul.help {
  list-style-type:none; }
 

#monitor_topic {
	margin-right:2em;
	} 
	#monitor_topic a {
	  color: #666;
		}
