= bootstrap_form_for post, :url => sb_post_path(:forum_id => post.forum_id, :topic_id => post.topic_id, :id => post), :html => {:class => "form form-horizontal" } do |f|
  = f.text_area :body, :rows => 10, :id => "edit_post_body_" + post.id.to_s, :class => "rich_text_editor"
  = submit_tag :save_changes.l, :class => 'btn btn-primary'
  