body {
  background: url(/images/theme/bg_body.png) repeat-x; }
  body #doc2 #bd {
    background: #fff;
    padding: 10px; }
  body #doc2 #ft {
    padding-left: 10px;
    padding-right: 10px; }
a {
	color:#5085AF;
}

#CommunityFooter {
  background: #fff;
  padding: 10px; }

#hd {
  background: url(/images/theme/header.jpg) no-repeat top left;
  padding: 0 10px 0 10px;
  border-top: 4px solid #000; }
	#hd h1 {
		background-color:#000;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);		
		}
  #hd h1 a {
    display: block;
		color:#fff;
    height: 37px;
		padding: 0 10px 0 10px;
    outline: none; 		
		}
  #hd h2 {
    color: #fff; 
		background-color:#000;
		-moz-opacity: 0.8;
		opacity:.80;
		filter: alpha(opacity=80);				
		padding: 10px;
		}
    #hd h2 a {
      color: #B59F6D; 
			}

#NavBar {
  height: 45px;
  margin-top: 90px;
  margin-left: -10px;
  margin-right: -10px; 
	background: #efefef;	
	}
	#NavBar ul li a {
		display: block;
		font-size: 95%;
		padding: 15px 10px;
		margin:none;
		text-transform: none;
		font-weight: bold;
		border:none;
		color: #464337;
		text-decoration: none;		
		}
		#NavBar ul li#active a, #NavBar ul li.current a{
		background: #fff;
		text-decoration: none !important;
		}
		

#welcome .box {
  background:#DCFBA8;
  border-top: 1px solid #314C61;
  border-bottom: 1px solid #314C61; }

.box h3 {
  border-bottom: 1px solid #314C61; }
