= render :partial => 'show_image_list', :locals => { :photos => photos }

#image_list_pages.clear
  = paginate @photos

:javascript
  $('image_list_pages').select('a').invoke('observe', 'click', remote_paginate )
  function remote_paginate(event){
    $('dynamic_images_list').update("Loading images...<br /><img src='/assets/spinner.gif'>");
    element = Event.element(event);
    new Ajax.Request(element.href, {asynchronous:true, evalScripts:true, method:'get'});
    Event.stop(event);
  }