-@page_title=:recent_photos.l
-box do

  %ul.thumbnails
    - @photos.each do |photo|
      %li.span4
        = link_to tag('img', :src => photo.photo.url(:medium)), user_photo_path(photo.user, photo), :class => 'thumbnail'

  =paginate @photos, :theme => 'bootstrap'
