-@page_title=:recent_photos.l

%ul.thumbnails
  - @photos.each do |photo|
    %li.col-sm-3
      = link_to image_tag(photo.photo.url(:medium)), user_photo_path(photo.user, photo), :class => 'thumbnail'

=paginate @photos, :theme => 'bootstrap'
