<style type="text/css" media="screen">
	body {
		}
  
  #header-wrapper {
    height:51px;
    }
		
  #header ul#global_navigation li {
    background: none;
    }
  #header .span-5 {
    background: none;
    }
  #bd-wrapper {
    background:none;
    }
  #bd-wrapper #bd {
    background:none;
    }    
  #bd-bottom {
    background:none;
    }
  #ft-wrapper {
    background:none;
    border: none;
    }
  
</style>

<div class="centered">
  <%= :the_slideshow_is_disabled.l %>
  <!-- Here's where you'd put a slideshow component -->
</div>
