-@section = 'posts'

.yui-b

  .box.alt.first_alt
    %h3= :featured_writers.l
    - @featured_writers.each do |user|
      = render :partial => "users/sidebar_user", :locals => {:user => user}

#yui-main
  .yui-b
    .box.hfeed
      %h3=:featured_posts.l

      .pagination=paginating_links @posts if @posts.page_count > 1

      = render :partial => 'posts/post', :collection => @posts
  
  
