-@section = 'posts'

.yui-b

  -box :class => "alt first_alt" do 
    %h3= :featured_writers.l
    - @featured_writers.each do |user|
      = render :partial => "users/sidebar_user", :locals => {:user => user}

#yui-main
  .yui-b
    -box :class => "hfeed" do 
      %h3=:featured_posts.l

      .pagination=paginating_links @posts if @posts.total_count > 1

      = render :partial => 'posts/post', :collection => @posts
  
  
