-@section = 'posts'

#main.column.span-9
  %h2 
    Featured Posts

  .posts
    -@posts.each_with_index do |post, i|
      = render :partial => 'posts/post', :locals => {:post => post}
      -if (i % 5).eql?(0)
        .advertisement=Ad.display(:excerpt_trailer, logged_in?)
      
  =pagination_links
  .clear
  %br
  
#sidebar.column.span-5.last
  = Ad.display(:sidebar_1, logged_in?)
  
  .clear
  %br
  .padded
    %h2 Featured Writers
    .section
      - @featured_writers.each do |user|
        = render :partial => "shared/user_sidebar", :locals => {:user => user}
        %hr
  
  = Ad.display(:sidebar_2, logged_in?)  