-@section = 'posts'
-@page_title = :featured_posts.l

-widget do
  %h4
    .small= :featured_writers.l
  %ul.list-unstyled
    - @featured_writers.each do |user|
      = render :partial => "users/sidebar_user", :locals => {:user => user}

= render :partial => 'posts/post', :collection => @posts
= paginate @posts, :theme => 'bootstrap'


