-@section = 'posts'

.yui-b

  .box.alt.first_alt
    %h3 Featured Writers
    - @featured_writers.each do |user|
      = render :partial => "users/sidebar_user", :locals => {:user => user}

#yui-main
  .yui-b
    .box.hfeed
      %h3 Featured Posts

      .pagination
        =pagination_links

      = render :partial => 'posts/post', :collection => @posts
  
  
