<script language="javascript" src="/javascripts/tiny_mce/tiny_mce_popup.js"></script>
<!-- <script type="text/javascript" src="javascripts/tiny_mce/plugins/preview/jscripts/embed.js"></script> -->

<div class="profile">
	<div class="yui-b">
	</div>	

	<div id="yui-main">
		<div class="yui-b">
			<div class="post" class="section">	
				<h1>Previewing your post</h1>
				<p>
					{$content}
				</p>				
				<br class="clear" />				
			</div>
	
		</div>
	</div>
	<br class="clear" />
</div>