
$gridColumnWidth: 70px;
$gridColumns: 12;
$gridGutterWidth: 30px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
$fluidGridColumnWidth: 6.382978723%;
$fluidGridGutterWidth: 2.127659574%;
