/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'grid';
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'font-awesome';
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
body { padding-top: 60px; }
[class*="span"].pull-right {
  float: right;
}
.nav-list li i[class*="icon"].pull-left {
  clear: left;
}
a.sort_link {
  color: $textColor;
}
