
/* Colors to be used in the rest of the file */
$black: #000;
$gray: #555;
$grayDark: #333;
$grayDarker: #222;
$grayLight: #999;
$grayLighter: #ccc;
$grayLightness: #ddd;
$grayLightest: #eee;
$grayLightVery: #f5f5f5;
$grayLightExtremely: #f9f9f9;
$white: #fff;
$blue: #049cdb;
$blueDark: #0064cd;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;


/* Assignments of colors to useful variable names */
$bodyBackground: $white;
$textColor: $grayDark;
$linkColor: $blue;
$linkColorHover: darken($linkColor, 15%);

$tableBackground: transparent;
$tableBackgroundAccent: $grayLightExtremely;
$tableBackgroundHover: $grayLightVery;
$tableBorder: $grayLightness;
$hrBorder: $grayLightest;

$btnBackground: $white;
$btnBackgroundHighlight: darken($btnBackground, 10%);
$btnBorder: $grayLighter;
$btnDangerBackground: $red;
$btnDangerBackgroundHighlight: darken($btnDangerBackground, 10%);
$btnInfoBackground: $blue;
$btnInfoBackgroundHighlight: darken($btnInfoBackground, 10%);
$btnInverseBackground: $gray;
$btnInverseBackgroundHighlight: darken($gray, 10%);
$btnPrimaryBackground: $blueDark;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 10%);
$btnSuccessBackground: $green;
$btnSuccessBackgroundHighlight: darken($btnSuccessBackground, 10%);
$btnWarningBackground: $orange;
$btnWarningBackgroundHighlight: darken($btnWarningBackground, 10%);

$inputBackground: $white;
$inputBorder: $grayLighter;
$inputBorderRadius: 3px;
$inputDisabledBackground: $grayLightest;
$formActionsBackground: $grayLightVery;
$placeholderText: $grayLight;

$dropdownBackground: $white;
$dropdownBorder: fadeout($black, .2);
$dropdownDividerBottom: $white;
$dropdownDividerTop: $grayLightest;
$dropdownLinkBackgroundHover: $linkColor;
$dropdownLinkColor: $grayDark;
$dropdownLinkColorHover: $white;

$iconSpritePath: '../../img/glyphicons-halflings.png';
$iconWhiteSpritePath: '../../img/glyphicons-halflings-white.png';

$navbarBackground: $grayDarker;
$navbarBackgroundHighlight: $grayDark;
$navbarLinkColor: $grayLight;
$navbarLinkColorHover: $white;
$navbarBrandColor: $navbarLinkColor;
$navbarHeight: 40px;
$navbarLinkBackgroundActive: $navbarBackground;
$navbarLinkBackgroundHover: transparent;
$navbarLinkColorActive: $navbarLinkColorHover;
$navbarSearchBackground: lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus: $white;
$navbarSearchBorder: darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor: $grayLighter;
$navbarText: $grayLight;

$heroUnitBackground: $grayLightest;
$heroUnitHeadingColor: inherit;
$heroUnitLeadColor: inherit;

$warningBackground: lighten($orange, 30%);
$warningBorder: darken($warningBackground, 3%);
$warningText: $orange;
$errorBackground: lighten($red, 30%);
$errorBorder: darken($errorBackground, 3%);
$errorText: $red;
$successBackground: lighten($green, 30%);
$successBorder: darken($successBackground, 5%);
$successText: $green;
$infoBackground: lighten($blue, 30%);
$infoBorder: darken($infoBackground, 7%);
$infoText: $blue;