$black: #000000;
$gray: #555555;
$grayDark: #333333;
$grayDarker: #222222;
$grayLight: #999999;
$grayMidLight: #cccccc;
$grayLighter: #eeeeee;
$white: #ffffff;
$blue: #117d91;
$blueDark: darken($blue, 15%);
$green: #88A825;
$red: #84130b;
$yellow: #ED8C2B;
$orange: #CF4A30;
$pink: #911146;
$purple: #35203B;
$tan: #8A7457;
$bodyBackground: $tan;
$textColor: fadeout($black, 15%);
$linkColor: $blue;
$linkColorHover: darken($linkColor, 15%);
$headingsColor: inherit;
$tableBackground: hsla(0, 0%, 100%, .5);
$tableBackgroundAccent: #f9f9f9;
$tableBackgroundHover: fadeout($blue, 85%);
$tableBorder: fadeout($grayDark, 85%);
$btnBackground: $grayLighter;
$btnBackgroundHighlight: darken($grayLighter, 10%);
$btnBorder: $grayMidLight;
$btnDangerBackground: lighten($pink, 15%);
$btnDangerBackgroundHighlight: $pink;
$btnInfoBackground: lighten($blue, 15%);
$btnInfoBackgroundHighlight: $blue;
$btnInverseBackground: $gray;
$btnInverseBackgroundHighlight: $grayDarker;
$btnPrimaryBackground: $linkColor;
$btnPrimaryBackgroundHighlight: darken($btnPrimaryBackground, 15%);
$btnSuccessBackground: lighten($green, 15%);
$btnSuccessBackgroundHighlight: $green;
$btnWarningBackground: lighten($yellow, 15%);
$btnWarningBackgroundHighlight: $yellow;
$inputBackground: $grayLighter;
$inputBorder: $grayMidLight;
$inputBorderRadius: 3px;
$inputDisabledBackground: $grayMidLight;
$formActionsBackground: transparent;
$dropdownBackground: $white;
$dropdownBorder: rgba(0,0,0,.2);
$dropdownDividerBottom: $white;
$dropdownDividerTop: #e5e5e5;
$dropdownLinkBackgroundHover: $linkColor;
$dropdownLinkColor: $grayDark;
$dropdownLinkColorHover: $white;
$placeholderText: $grayLight;
$hrBorder: $grayLighter;
$navbarBackground: $grayDarker;
$navbarBackgroundHighlight: $grayDark;
$navbarHeight: 40px;
$navbarLinkBackgroundActive: $navbarBackground;
$navbarLinkBackgroundHover: transparent;
$navbarLinkColor: $grayLight;
$navbarLinkColorHover: $white;
$navbarLinkColorActive: $navbarLinkColorHover;
$navbarSearchBackground: lighten($navbarBackground, 25%);
$navbarSearchBackgroundFocus: $white;
$navbarSearchBorder: darken($navbarSearchBackground, 30%);
$navbarSearchPlaceholderColor: $grayMidLight;
$navbarText: $grayLight;
$heroUnitBackground: $grayLighter;
$heroUnitHeadingColor: inherit;
$heroUnitLeadColor: inherit;
$warningBackground: lighten($yellow, 30%);
$warningBorder: darken($warningBackground, 3%);
$warningText: $yellow;
$errorBackground: lighten($pink, 30%);
$errorBorder: darken($errorBackground, 3%);
$errorText: $pink;
$successBackground: lighten($green, 30%);
$successBorder: darken($successBackground, 5%);
$successText: $green;
$infoBackground: lighten($green, 30%);
$infoBorder: darken($infoBackground, 7%);
$infoText: $blue;
