$sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, 'Times New Roman', Times, serif;
$monoFontFamily: Menlo, Monaco, Consolas, 'Courier New', monospace;
$baseFontSize: 13px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 18px;
$altFontFamily: $serifFontFamily;
$headingsFontFamily: $serifFontFamily;
$headingsFontWeight: bold;