@import 'font';
@import 'colors';
@import 'grid';
@import 'layers';
@import 'bootstrap';
body {
  padding-top: 60px;
}
@import 'bootstrap-responsive';
@import 'font-awesome';

.required {
    font-weight: bold;
}
.required:before {
    color: $red;
    content: '(*Required) ';
    display: inline;
}
.row-fluid [class*='span'].pull-right, .row [class*='span'].pull-right{
  float: right;
}
.row>[class*='span']:first-child {
  margin-left: 0;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
.css5 { font-size: 1.8em; }

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.clear-all, .clear-both {
  clear: both;
}

form.button_to, form.button_to div {
  display: inline;
}
