@import 'font';
@import 'colors';
@import 'grid';
@import 'layers';
@import 'bootstrap';
body {
  padding-top: 60px;
}
@import 'bootstrap-responsive';
@import 'font-awesome';

.required {
    font-weight: bold;
}
.required:before {
    color: $red;
    content: '(*Required) ';
    display: inline;
}
[class*='span'].pull-right {
  float: right;
}
