- if category 
  %h3= category.name
  %p= category.tips
- else 
  %h3="We need you".l
  %p
    %em Every single person
    has something to say, something to give, something that will help someone else.  Join in!
%p= :need_some_help_contact_our.l+" #{link_to "FAQ section", faq_url}."