-@page_title= :new_category.l
-box do
  = form_for(:category, :url => categories_path, :html => {:class => "MainForm"}) do |f|
    %label= :name.l
    = f.text_field :name
    %p= submit_tag :create.l, :class => 'btn btn-primary'