-@section = 'activities'
-@page_title = 'Recent Activities'
.fresh
  %h3= :whats_fresh.l
  %table{:width => '100%'}
    =render :partial => "activities/activity", :collection => @activities
  =paginate @activities, :theme => 'bootstrap'

-widget do
  %h4
    .small= :tags.l
  %p
    - tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
      = link_to tag.name, tag_path(tag.to_param), :class => css_class
  %p=link_to fa_icon('plus-circle', :text => :all_tags.l.downcase.capitalize), tags_path

