-@section = 'activities'
-@page_title = 'Recent Activities'
.yui-gc
  .yui-u.first
    -box :class => "fresh" do 
      %h3= :whats_fresh.l
      =render :partial => "activities/activity", :collection => @activities
      =paginate @activities
      
  .yui-u
    -widget do 
      %ul.nav.nav-list
        %li.nav-header= :tags.l
      %p
        - tag_cloud @popular_tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
          = link_to tag.name, tag_path(tag.to_param), :class => css_class
      %p
        %i.icon-plus-sign.pull-left
        =link_to :all_tags.l.downcase.capitalize, tags_path

