.yui-b
  =render :partial => 'users/dashboard_nav'
  
#yui-main
  .yui-b.box
    -unless @activities.empty?
      %h3 Activity from your network
      %table{:width => "100%"}
        =render :partial => "activities/activity", :collection => @activities
      -if @activities.page_count > 1
        .pagination= paginating_links @activities, :link_to_current_page => true
    -else
      You have no network activity yet. 
      = link_to "Add some friends to get started!", users_path