<% if @user.vendor? %>
	<p>Describe the product or service you offer:
		<ul>
			<li>Tell people what you do</li>
			<li>Explain why you love your work</li>
			<li>How can people contact you? What's your Web site?</li>
		</ul>
	</p>
<% else %>	
	<p>Your bio is first thing people see on your profile. Some ideas:
		<ul>
			<li>Describe your sense of style</li>
			<li>Explain what you love about life.</li>
			<li>What's the last thing you purchased for a friend?</li>
		</ul>
	</p>
<% end %>