<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>
		<%= page_title %>
	</title>
	<% if @meta %>
		<% @meta.each do |key| %>
			<meta name="<%= key[0] %>" content="<%= key[1] %>">
		<% end %>
	<% end %>		
		
	<%= render :partial => '/layouts/scripts_and_styles' %>

	<% if @user and @user.stylesheet and %w(users photos posts clippings friendships).include?(@controller.controller_name) and !%(new invite edit edit_account).include?(@controller.action_name) %>
		<style type="text/css" id="custom_stylesheet">
			<%= @user.stylesheet %>
		</style>
	<% end %>
	
</head>
	<body>
 		<div id="custom-doc" class="yui-t<%= @sidebar_right ? '6' : '3' %>">
			
			<div id="hd">
				<a href="/" title="<%= AppConfig.community_name %> Home" id="community-logo" class="left"><%= AppConfig.community_name %> - <%= AppConfig.community_tagline %></a>
      
				  <div class="toolbar">
  						<div id="search_and_login">
  							<% unless current_user %>
  								<a href="/login" title="Log in to your <%= AppConfig.community_name %> account">Log in</a> or 
  								<a href="/signup" title="Sign up for a <%= AppConfig.community_name %> account">Sign up</a>
  							<% else %>
  								Logged in: <%= link_to current_user.login, dashboard_user_path(current_user) %> | 
  								<% if !session[:admin_id].nil? %>
  									(<%= link_to "return to the admin", return_admin_user_path(session[:admin_id]) %>) 
  								<% end %>
  								<a href="/logout" title="Log out of your <%= AppConfig.community_name %> account">Log out</a> 						
  							<% end %>
						
  							<!-- SiteSearch Google -->
  							<form method="get" action="http://www.google.com/custom" target="_top" style="display:inline; margin-left:1em;">
  							<input type="hidden" name="domains" value="<%= APP_URL %>"></input>
  							<label for="sbi" style="display: none">Enter your search terms</label>
  							<input type="text" name="q" size="17" maxlength="255" value="" id="sbi"></input>
  							<input type="submit" name="sa" style="font-size:1em;margin:0; font-weight:normal;" value="Search" id="sbb"></input>
  							<input type="hidden" name="sitesearch" value="<%= APP_URL %>" id="ss1"></input>
  							<input type="hidden" name="client" value="pub-9113954708528841"></input>
  							<input type="hidden" name="forid" value="1"></input>
  							<input type="hidden" name="channel" value="1842224655"></input>
  							<input type="hidden" name="ie" value="ISO-8859-1"></input>
  							<input type="hidden" name="oe" value="ISO-8859-1"></input>
  							<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#FFFFFF;VLC:663399;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:0066CC;LC:0066CC;T:000000;GFNT:0000FF;GIMP:0000FF;LH:50;LW:90;S:http://<%= APP_URL %>;FORID:1"></input>
  							<input type="hidden" name="hl" value="en"></input>
  							</form>
  							<!-- SiteSearch Google -->						
  						</div>
						
  					<ul id="nav">
  						<% Category.find(:all).each do |c| %>
  							<%= topnav_tab (c.nav_text || c.name), {:url => category_path(c), :section => c.name} %>
  						<% end %>
  						<%= topnav_tab "Forums", { :url => forums_path, :section => 'forums' } %>
  						<%= topnav_tab "Popular", { :url => popular_path, :section => 'popular' } %>
  						<%= topnav_tab "People", { :url => users_path, :section => 'users' } %>
  						<% if current_user %>
  							<%= topnav_tab "My Profile", { :url => user_path(current_user), :section => 'my_profile'} %> 
  						<% end %>
  					</ul>					
  				</div>
  				<div id="header_strip"></div>
        </div> <!-- header --> 

		   <div id="bd">
				<%= render :partial => "shared/messages" %>
				<br class="clear" />		

				<% if @is_current_user %>
					<%= render :partial => 'users/profile_nav' %>
				<% end %>
			
				<%= @content_for_layout %>		   							
		   </div> <!-- body --> 
		
		   <div id="ft">
				<div id="footer">
					<div class="padded">
						<a href="/" title="<%= AppConfig.community_name %> Home">Home</a> | 
						<% unless current_user %> 
							<%= link_to "Log in", new_session_path %> | 
						<% else %>
							<a href="/logout" title="Log out of your <%= AppConfig.community_name %> account">Log out</a> | 
						<% end %>
						<a href="/about" title="What is <%= AppConfig.community_name %>?">About</a> | 
						<a href="/faq" title="Frequent Asked Questions">FAQ</a>
						<% if @rss_title && @rss_url  %>
							| <%= link_to image_tag('feed.png', :plugin => "community_engine") + ' RSS', @rss_url, {:title => @rss_title} %>
						<% end %>

						<br /><strong><%= AppConfig.community_tagline %></strong>
					</div>
				</div>
		   </div> <!-- footer --> 
		</div>

		<script type="text/javascript">
			//<![CDATA[
		 	 Rico.Corner.round('.rounded', {color: 'transparent'});		 	 
			 Rico.Corner.round('.rounded-transparent', {color:'transparent'});		
			// ]]>
		</script>

		<% unless RAILS_ENV.eql?('development') %>
      <!-- Tracking code here -->
		<% end %>
		
	</body>
</html>